/* General Layout */
.container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 8px;
    border: 1px solid #dee2e6;
    margin-bottom: 2rem;
}

/* Header Styles */
.card-header {
    background-color: #007bff;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px 8px 0 0;
    padding: 1.5rem;
}

/* Table Styles */
.table {
    border-radius: 8px;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.table th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.table td {
    vertical-align: middle;
}

/* Badge Styles */
.badge {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 12px;
}

.bg-success {
    background-color: #28a745;
}

.bg-secondary {
    background-color: #6c757d;
}

/* Buttons */
.btn {
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.text-center {
    text-align: center;
}

/* Responsiveness for Mobile Devices */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }

    .table th, .table td {
        padding: 10px;
        font-size: 0.9rem;  /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    .table td {
        word-wrap: break-word;  /* Evita que el contenido se desborde */ 
        text-align: left;  /* Alineación izquierda para mayor legibilidad */
    }

    .table th {
        text-align: left;  /* Alineación izquierda para mayor legibilidad */
    }

    .card-header {
        font-size: 1.25rem;
    }

    /* Ajustar los botones de acción para móviles */
    .btn-sm {
        width: 100%;
        margin-bottom: 5px;
    }

    .btn {
        font-size: 0.8rem;  /* Ajusta el tamaño de los botones */
        padding: 0.5rem 1rem;
    }

    /* Ajuste de las columnas de la tabla en móviles */
    .table th, .table td {
        text-align: left;
    }

    /* Mejorar la visualización de la tabla en móviles */
    .table thead th {
        font-size: 1rem;
    }

    /* Reajustar el contenedor de la tabla */
    .table {
        border-radius: 5px;
        overflow: hidden;
    }

    /* Asegurar que las celdas de la tabla estén adecuadamente alineadas */
    .table td, .table th {
        padding: 12px 10px;
    }
}
